body
{
  margin-top: 5%;
  background-color: #2CB0BF;
  text-align: center;
}

h1{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 570%;
line-height: 0.6em;
color: #FFFFBF;
}


.buttonteams{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 450%;
display: block;
margin: auto;

margin-bottom: 4%;
  border: solid 1px transparent;
  border-radius: 8px;
  padding: 0.5em 1em;
  text-align: center;
color: #2CB0BF;
background-color: white;
}

.buttonsingleplayer{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 450%;
display: block;
margin: auto;

  border: solid 1px transparent;
  border-radius: 8px;
  padding: 0.5em 1em;
  text-align: center;
color: #2CB0BF;
background-color: white;
}

.firstpagebuttons{
margin-top: 97%;
  display: block;
}
